.our_clients{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 270px;
    background-image: url(../../img/clients_img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.our_clients h3{
    font: 60px "Oswald";
    color: #ffffff;
    margin: 0 0 20px;
    padding-top: 30px;
}
.logo_clients{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}


.logo_clients img{
    width: 128px;
    height: 128px;
}
.logo_clients__item{
    display: flex!important;
    justify-content: center;
}
